<!DOCTYPE html>
<html>
<head>
    <style>
    h3 {
        font-family: "Helvetica";
        font-size: 15;
        font-weight: normal;
    }
    </style>
</head>
<body>
    <h1> Item Detail </h1>
    <h3> Name:  <%= item.name %> </h3>
    <h3> Price: Rp. <%= item.price %> </h3>
    <% item_categories.each do |item_category| %>
        <h3> Category: <%= category.name %> </h3>
    <% end %>
</body>